*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','san-serif';
}

body {
    background: 8;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transform: .3s;
}
.home{
    height: 100vh;
    background: #081b29;
    background-size: cover;
    background-position:center;

    display:flex;
    align-items: center;
    padding: 0 10%;
    position: 0 10%; 
    
}

/*KEYFRAME ANIMATION*/
@keyframes showRight{
    100%{
        width: 0;
    }
}

glow-container4 {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color:#081b29; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 188, 212, 0.7); 
    transition: box-shadow 0.3s ease;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; 
}

button {
    padding: 10px;
    background-color: #00bcd4 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #00bcd4;
}

.glow-container4 h2 {
    font-size: 2.5em; 
    color: #00bcd4; 
}

.glow-container4 p {
    font-size: 1.6em; 
    color:#00bcd4; 
}